.details {
  animation: show 2s ease 0s 1 normal forwards;
  margin-bottom: 40px;
  line-height: 1.8;
}

@keyframes show {
  from {
    transform: translateY(30%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
