.list {
  padding: 0;
  border-bottom: 2px solid #fffb00;;
  list-style-type: none;
}

.trigger {
  overflow: visible;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background: transparent;
}

.trigger:focus {
  outline: none;
}

.show {
  border-color: #fffb00;
}

.container {
  display: none;
}

.container.show {
  display: block;
}