.navigation {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.trigger {
  overflow: visible;
  transition-duration: var(--transition-primary);
  cursor: pointer;
  margin: 10px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background: transparent;
}

.trigger:focus {
  outline: none;
}

.container {
  z-index: -1;
  position: absolute;
  top: -20%;
  opacity: 0;
  transition-duration: var(--transition-primary);
  text-align: center;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 10px;
  list-style-type: none;
}

.item {
  margin: 7px;
}

.active,
.trigger:hover {
  border-color: var(--color-secondary);
}

.container.show {
  top: 0;
  opacity: 1;
  backdrop-filter: blur(2px);
}

.container::after {
  content: "";
  display: block;
  transition-duration: var(--transition-primary);
  margin: 0 auto;
  height: 1px;
  width: 0;
  background-color: var(--color-secondary);
}

.container.show::after {
  width: 90%;
}

@media screen and (min-width: 768px) {
  .container {
    top: 0;
  }

  .list {
    flex-direction: row;
    justify-content: center;
  }
}