.container {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 99%;
  text-shadow: 1px 1px 1px #000000;
}

.trigger {
  position: absolute;
  z-index: 100;
  overflow: visible;
  transition-duration: var(--transition-primary);
  cursor: pointer;
  margin: 10px;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  box-shadow: 0px 0px 1px 0px #000000;
  width: 35px;
  height: 35px;
  background: transparent;
}

.trigger:focus {
  outline: none;
}

.navigation {
  animation-name: hide;
  animation-duration: var(--transition-primary);
  animation-fill-mode: forwards;
  text-align: center;
  width: 100%;
  font-size: 1.2em;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 10px;
  list-style-type: none;
}

.item {
  margin: 7px;
}

.active,
.trigger:hover {
  border-color: var(--color-secondary);
}

.navigation.show {
  animation-name: show;
}

.navigation::after {
  content: '';
  display: block;
  transition-duration: var(--transition-primary);
  margin: 0 auto;
  height: 1px;
  width: 0;
  background-color: var(--color-secondary);
}

.navigation.show::after {
  width: 90%;
}

@keyframes hide {
  from {
    transform: translateY(0);
    opacity: 1;
    backdrop-filter: blur(2px);
  }

  to {
    transform: translateY(-20px);
    opacity: 0;
    backdrop-filter: blur(0px);
  }
}

@keyframes show {
  from {
    transform: translateY(-20px);
    opacity: 0;
    backdrop-filter: blur(0px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
    backdrop-filter: blur(2px);
  }
}

@media screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    justify-content: center;
  }

  .trigger {
    margin: 10px 0;
  }
}
