.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(#00000000 95%, var(--color-bg-primary) 100%);
  text-shadow: 1px 1px 1px #000000;
  font-size: 25px;
  font-weight: 400;
  color: #ffffff;
}

.title {
  text-align: center;
  font-size: 1.5em;
  font-weight: inherit;
}

.text,
.title {
  animation: show 2s ease 0s 1 normal forwards;
}

.name {
  text-shadow: 1px 1px 1px #000000;
  color: var(--color-secondary);
}

@keyframes show {
  from {
    transform: translateY(60%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
