.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: var(--transition-primary);
}

.container::after {
  content: '';
  display: block;
  transition-duration: inherit;
  width: 5%;
  max-width: 50px;
  height: 2px;
  background-color: var(--color-primary-dark);
}

.container.active::after {
  width: 100%;
  max-width: 100%;
  background-color: var(--color-secondary);
}

.title {
  cursor: pointer;
  transition-duration: inherit;
  margin: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.1em;
}

.title.active {
  color: var(--color-secondary);
}

.title:hover {
  color: #ffffff;
}

.details {
  display: flex;
  flex-direction: column;
  position: relative;
  transition-duration: inherit;
  overflow: auto;
  height: 0;
  background-color: var(--color-bg-third);
}

.details.show {
  height: 300px;
}

.main-info {
  list-style-type: none;
}

.main-info > li {
  margin-bottom: 10px;
}

.description {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .details.show {
    height: 350px;
    padding: 20px;
  }

  .title {
    font-size: 1.4em;
  }
}
