.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: var(--transition-primary);
}

.title {
  transition-duration: inherit;
  margin: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 1.1em;
}

.title:hover {
  color: var(--color-bg-third);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;  
  max-width: 200px;
}

.logo img {
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  position: relative;
  transition-duration: inherit;
  overflow: auto;
  height: 0;
  background-color: var(--color-bg-third);
}

.main-info {
  list-style-type: none;
}

.main-info > li {
  margin-bottom: 10px;
}

.container:hover .details {
  height: 200px;
}

.container:hover .title {
  color: #ffffff;
}

.description {
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .container:hover .details {
    height: 250px;
    padding: 20px;
  }

  .title{
    font-size: 1.4em;
  }
}
